
@model ClientesModif

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterDefault.cshtml";
}
<h2></h2>
<br /><br /><br />
<div class="container">
    @*@using (Html.BeginForm("Index", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
    @using (Html.BeginForm())
    {

        @*<div class="col-md-12 col-lg-12" >*@
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    @Html.TextBoxFor(p => p.Rfc, new { @class = "form-control center-block", placeholder = "RFC" })
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control", placeholder = "Razón Social" })
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="row"><input type="submit" name="buscar" id="btnBuscar" formaction="@Url.Action("BuscarClientes")" formmethod="post" value="Buscar" class="btn btn-success btn-block right" /></div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <input type="button" value="Nuevo" class="btn btn-success btn-block" data-toggle="modal" data-target="#modalNuevo" />
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr class="bg-primary">
                            <th scope="col">RFC</th>
                            <th scope="col">Razón Social</th>
                            <th scope="col">Nombre Comercial</th>
                            <th scope="col">Correo Electrónico</th>
                        </tr>
                    </thead>
                    @{
                        var lista = Model.ListaClientes;
                        foreach (var cliente in lista)
                        {
                            var rfc = cliente.Sys_RFC;
                            var razonSocial = cliente.Sys_Razon_Social;
                            var nombreComercial = cliente.Sys_Nombre_Comercial;
                            var correo = cliente.Sys_Correo;
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        @rfc
                                    </th>
                                    <td>
                                        @razonSocial
                                    </td>
                                    <td>
                                        @nombreComercial
                                    </td>
                                    <td>
                                        @correo
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
                        }
    @using (Html.BeginForm())
    {
        <div class="modal fade" id="modalNuevo" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Guardar Cliente</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_RFC, new { @class = "form-control center-block", placeholder = "RFC", @required = "required" })</p>
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_Razon_Social, new { @class = "form-control center-block", placeholder = "Razón Social" })</p>
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_Nombre_Comercial, new { @class = "form-control center-block", placeholder = "Nombre Comercial" })</p>
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_Correo, new { @class = "form-control center-block", placeholder = "Correo Electronico" })</p>
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_Calle, new { @class = "form-control center-block", placeholder = "Calle" })</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_CP, new { @class = "form-control center-block", placeholder = "Codigo Postal", @required = "required" })</p>
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_Municipio, new { @class = "form-control center-block", placeholder = "Municipio" })</p>
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_Estado, new { @class = "form-control center-block", placeholder = "Estado" })</p>
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_Colonia, new { @class = "form-control center-block", placeholder = "Colonia" })</p>
                                <p>@Html.TextBoxFor(p => p.Cliente.Sys_Pais, new { @class = "form-control center-block", placeholder = "Pais" })</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6"></div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                <input type="submit" name="guarda" id="btnGuardar" formaction="@Url.Action("GuardarCliente")" value="Guardar" class="btn btn-success right" />
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>